[submodule "esbuild-compress"]
	path = build/esbuild-compress
	url = https://github.com/polyipseity/esbuild-compress.git
	branch = main
[submodule "obsidian-plugin-library"]
	path = build/obsidian-plugin-library
	url = ../obsidian-plugin-library.git
	branch = main
