.workspace-leaf-content[data-type=terminal\:terminal] .view-content {
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.terminal\:terminal {
	flex: 1;
	min-width: 0;
	min-height: 0;
}

.is-phone .workspace-leaf-content[data-type=terminal\:terminal] .view-content {
	padding-bottom: max(var(--size-4-4), calc(var(--icon-l) + var(--size-4-2) + max(var(--size-4-2), var(--safe-area-inset-bottom))));
}