jobs:
  release-latest:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - uses: actions/setup-node@v3
      with:
        cache: npm
        node-version: '*'
    - run: npm ci
    - run: npm run build
    - run: |
        npm pack --pack-destination=.github
        for file in .github/*.tgz; do mv "$file" "${file%-*}.tgz"; done
    - if: ${{github.ref == 'refs/tags/latest'}}
      env:
        GH_TOKEN: ${{github.token}}
      run: |
        gh release upload latest .github/*.tgz --clobber
on:
  push:
    tags:
    - latest
  workflow_dispatch:
permissions: {}
